.busseatpick{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #48a0ff38;
    height: 100vh;

   
}
.buscontainerseat{
    margin-left: 20%; 
    width: 80%;
    margin-right: 20%;
}
.pickseat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh;

}
.pickseat-left{
    display: flex;
    align-items: center;
    color: #48A0FF;

}
.pickseat-right{
    display: flex;
    align-items: center;
}
.pickseat-right>h4{
        color: #48A0FF;
        margin-right: 0.6vw;

}
.continue-button-pick{
    display: flex;
    padding: 1VH;
    background-color:#FF8A00 ;
    border-radius: 8px;
    align-items: center;
    width: fit-content;
}
.continue-button-pick>button{
    outline: none;
    background: none;
    border: none;
    font-weight: 600;
    color: white;
    }

.pickcard{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2vw;
    border-radius: 9px;
    margin: 3vh;
}
.pickcard-orient{
    display: flex;
    flex-direction: column;
    padding-bottom: 2vh;
}
.pickcard-orient2{
    display: flex;
    flex-direction: column;
}
.pickcardtop{
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #48A0FF;
    font-size: 1.8vh;
}
.pickcardbottom{
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #FFAC0A;
    font-size: 1.3vh;
}
.pickcardicon{
    color: black;
    height: 2.5vh !important;
}

.seat-header{
    align-items: center;
    padding: 2vh;
    padding-left: 1.3vw;
    background-color: #48A0FF;
    color: white;
    
}
.amenitylistcontainer{
background-color: white;
padding: 2vh;
height: 13vh;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;


}
.amenitylist{
    display: flex;
    padding: 2vh;

}
.amenityiconcontainer{
    display: flex;
    background-color:#F9FAFB ;
    margin-right: 1vw;
    padding: 1vh;
    border-radius: 12px;
    align-items: center;
    font-weight: 500;
    color:#6C7782 ;
    font-size: 1.8vh;
}
.amenityicon{
margin-right: 1vw;
}
.continue-button{
    display: flex;
    padding: 1VH;
    background-color:#FF8A00 ;
    border-radius: 8px;
    align-items: center;
    right: 12%;
    position: absolute;
}
.continue-button>button{
outline: none;
background: none;
border: none;
font-weight: 600;
color: white;
}