.cargo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;   
    margin-bottom: 5vh;
}
.cargoinfo{
    display: flex;
    align-items: center;
}
.fillinfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2vw;
    background-color: white;
    margin-right: 2vw;
    box-shadow: 2px 3px 10px whitesmoke;
  

}

.title2{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.orange2{
    color: #FDB022;
    font-size:7vh;
    font-weight: 600;
    margin: 0;
}
.normal2{
    color: #475467;
    font-size:3vh;
    width: 30vw;
    font-weight: 500;
    margin-bottom: 2vh;
    
}
.cargimg{
    height: 42vh;
    width: 100%;

}