.form-container{
    display: flex;
    padding: 6vh;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FDB022;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-right: none;
    width: 100%;
    background-color: white;
    padding: 0.3vh;
}
.float-Icon{
    margin-right: 1vw;
    align-items: center;
    color: #48A0FF !important;
}
.word{
    color: #48A0FF;
    opacity: 0.3;
    font-size: 2vh;
}
.form-space{
    display: flex;
    border-right: 1PX solid #48A0FF;
    width: 100%;
    align-items: center;
    padding: 0.4vh;
}
.form-spacex{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0.4vh;

}
.form-space:hover{
    background-color:#cccccc2a ;
}

.form-spacex:hover{
    background-color:#cccccc2a ;
}
.inputField>input{
border: none;
background: none;
outline: none;
opacity: 0.5;
}
.columnContainer{
    display: flex;
    flex-direction: column;
    width: 12vw;
    
}
.search-button{
    display: flex;
    align-items: center;
    background-color: #48A0FF;
    width: 4vw;
    padding-right: 2vw;
    padding-left: 2vw;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.searchText{
    color: white;
    font-size: 1.7vh;
}
.searchIcon{
    color: white;
    margin-right: 0.2vw;
}
.search-button:hover{
    cursor: pointer;
    background-color: #48a0ff6c;
}
/* Add these styles at the end of the formnew.css file */

.popup {
    position: absolute;
    z-index: 1;
    width: 12vw;
    max-height: 50vh;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom-left-radius: 2pc;
    border-bottom-right-radius: 2pc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    padding: 0;
    list-style-type: none;
  }
  
  .popup li {
    padding: 2vh;
    cursor: pointer;
    color: #FDB022;
    font-weight: 600;
  }
  
  .popup li:hover {
    background-color: #f5f5f5;
  }