.widgets{
    display: flex;
    align-items: center;
    margin-bottom: 5vh;
    margin-top: 2vh;
    width: 100%;
    justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
    height: 30vh;
    background-color: white;
    margin: 1vw;
    width: 15vw;
    border: none;
    border-radius: 6px;
      -webkit-animation: scaleAnimation 4s infinite; /* WebKit prefix */
      animation: scaleAnimation 4s infinite;
    
    
  }
  
  .container:hover {
    animation-play-state: running;
    cursor: pointer;
  }
  
  @keyframes scaleAnimation {
    0% {
      transform: scale(0.1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(0.8);
    }}
  
.h4{
    padding: 0.5vw;
    padding-top: 3vh;
    font-size: 2vh
}
.h6{
        padding-left: 0.5vw;
        padding-right: 0.5vw;
        font-size: 1.8vh;
        color: #475467;
        font-weight: 500.5;
}
.icon{
color: white !important;
}
.iconc{
    margin: 1vw;
    background-color:  #48A0FF;
    width: fit-content;
    padding: 0.8vw;
    border-radius: 10pt;
}
@media screen and (max-width: 750px) {
  .widgets {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-top: 1vh;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
  }

  .container {
    flex-basis: calc(45% - 1.2vw); /* Set each container to take up 50% of the available width with some spacing */
    height: 22vh;
    overflow: hidden;
    background-color: white;
    margin: 2vw;
    border: none;
    border-radius: 6px;
    animation: scaleAnimation 4s infinite;
  }


@keyframes scaleAnimation {
  0% {
    transform: scale(60%);
  }
  50% {
    transform: scale(75%);
  }
  100% {
    transform: scale(96%);
  }}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .widgets {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-top: 1vh;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
  }

  .container {
    flex-basis: calc(45% - 1.2vw); /* Set each container to take up 50% of the available width with some spacing */
    height: 22vh;
    overflow: hidden;
    background-color: white;
    margin: 2vw;
    border: none;
    border-radius: 6px;
    animation: scaleAnimation 4s infinite;
  }


@keyframes scaleAnimation {
  0% {
    transform: scale(60%);
  }
  50% {
    transform: scale(75%);
  }
  100% {
    transform: scale(96%);
  }}
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
  /* Styles for tablet devices */
  .widgets {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-top: 1vh;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
  }

  .container {
    flex-basis: calc(45% - 1.2vw); /* Set each container to take up 50% of the available width with some spacing */
    height: 22vh;
    overflow: hidden;
    background-color: white;
    margin: 2vw;
    border: none;
    border-radius: 6px;
    animation: scaleAnimation 4s infinite;
  }


@keyframes scaleAnimation {
  0% {
    transform: scale(60%);
  }
  50% {
    transform: scale(75%);
  }
  100% {
    transform: scale(96%);
  }}
}
@media screen and (min-width: 915px) and (min-height: 412px) {
  /* Your styles for a screen size of 915x412 pixels or larger go here */
.widgets {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-top: 1vh;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
  }

  .container {
    flex-basis: calc(20% - 1.2vw); /* Set each container to take up 50% of the available width with some spacing */
    height: 30vh;
    overflow: hidden;
    background-color: white;
    margin: 2vw;
    border: none;
    border-radius: 6px;
    animation: scaleAnimation 4s infinite;
  }


@keyframes scaleAnimation {
  0% {
    transform: scale(60%);
  }
  50% {
    transform: scale(75%);
  }
  100% {
    transform: scale(96%);
  }}
}

@media screen and (min-width: 896px) and (min-height: 414px) {
  .widgets {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-top: 1vh;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
  }

  .container {
    flex-basis: calc(20% - 1.2vw); /* Set each container to take up 50% of the available width with some spacing */
    height: 30vh;
    overflow: hidden;
    background-color: white;
    margin: 2vw;
    border: none;
    border-radius: 6px;
    animation: scaleAnimation 4s infinite;
  }


@keyframes scaleAnimation {
  0% {
    transform: scale(60%);
  }
  50% {
    transform: scale(75%);
  }
  100% {
    transform: scale(96%);
  }}

}
@media screen and (min-width: 667px) and (min-height: 375px) {
  .widgets {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-top: 1vh;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
  }

  .container {
    flex-basis: calc(20% - 1.2vw); /* Set each container to take up 50% of the available width with some spacing */
    height: 30vh;
    overflow: hidden;
    background-color: white;
    margin: 2vw;
    border: none;
    border-radius: 6px;
    animation: scaleAnimation 4s infinite;
  }


@keyframes scaleAnimation {
  0% {
    transform: scale(60%);
  }
  50% {
    transform: scale(75%);
  }
  100% {
    transform: scale(96%);
  }}

}
/* Standard iPad (Portrait) */
@media screen and (max-width: 768px) and (min-height: 1024px) {
  /* Your styles for the standard iPad in portrait mode go here */
  .widgets {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-top: 1vh;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
  }

  .container {
    flex-basis: calc(40% - 1.2vw); /* Set each container to take up 50% of the available width with some spacing */
    height: 30vh;
    overflow: hidden;
    background-color: white;
    margin: 2vw;
    border: none;
    border-radius: 6px;
    animation: scaleAnimation 4s infinite;
  }


@keyframes scaleAnimation {
  0% {
    transform: scale(60%);
  }
  50% {
    transform: scale(75%);
  }
  100% {
    transform: scale(96%);
  }}

}
