@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
 .linksc{
  @apply flex items-center 
 }
  .links{
    @apply font-semibold text-white items-center p-2 px-2 md:px-3  xl:px-4 border-r-2 rounded-lg  hover:cursor-pointer 
  }
  .linksd{
    @apply flex items-center
  }
  .links:hover{
    @apply bg-[#48a0ff5b] rounded-lg text-black
  }
  .dropicon{
    @apply mr-[0.9vw] bg-none
  }
  .linksw{
    @apply flex items-center  mr-[1vw]
  }
  .dropdown>h5:hover{
@apply cursor-pointer text-[#48a0ff] rounded-md
  }
  .dropdown{
    @apply flex z-[999] flex-col font-semibold items-center text-[#475467] relative 
  }
  .dropdown-content{
    display: none;
    @apply absolute z-[999] top-[3vh] left-0 bg-white shadow-lg min-w-[150px]  rounded-md p-[2vh] w-[13vw]  
  }
  .dropdown-content a{
    @apply flex text-[#475467] rounded-md font-medium p-[2vh] text-[1.8vh] w-[90%]
  }
  
.dropdown-content a:hover{
  @apply bg-[#fdb02223] font-semibold
}
.dropdown:hover .dropdown-content{
  @apply flex flex-col
}
.right{
  @apply flex items-center
}
.right{
  @apply hover:cursor-pointer
}
.logb{
  @apply p-[0.4vh] w-[8vw] hover:bg-transparent font-semibold mr-5 border-none rounded-md outline-none text-white bg-[#48a0ff]
}
.headerlink{
  @apply pr-3 font-[550] text-gray-400  items-center hover:cursor-pointer
}
.headerbutton{
  @apply pr-3 font-semibold text-gray-500 text-base items-center hover:cursor-pointer
}
.hlinks{
  @apply font-semibold text-white items-center p-2 px-2 md:px-3  xl:px-4 border-r-2 rounded-lg  hover:cursor-pointer w-20
}
  .columncontainer{
    @apply flex flex-col w-[12vw]
  }
  .float-Icon{
    @apply mr-[1vw] items-center text-[#48A0ff]
  }
  .word{
@apply text-[#48A0ff] opacity-[0.3] text-[2vh]
  }
  .calform-space{
    @apply flex overflow-hidden w-[16vw]  max-lg:my-2 max-lg:rounded-lg max-lg:mr-2 border-r-[#48A0ff] border-r items-center p-[0.4vh] hover:bg-[#cccccc2a] max-lg:border max-lg:w-[40vw] max-lg:border-[orange]
  }
  .calform-space2{
    @apply flex overflow-hidden w-[16vw] max-lg:my-2 max-lg:rounded-lg border-r-[#48A0ff] border-r items-center p-[0.4vh] hover:bg-[#cccccc2a]  max-lg:border  max-lg:border-[orange]  max-lg:w-[40vw]
  }
  .form-space{
    @apply flex w-[16vw] max-lg:my-2 max-lg:rounded-lg border-r  border-r-[#48A0ff] items-center hover:bg-[#cccccc2a]  max-lg:border  max-lg:border-[orange] max-lg:w-[80vw]
  }
  .form-spacex{
    @apply flex w-[16vw] max-lg:my-2 max-lg:rounded-lg  border-r-[#48A0ff] items-center hover:bg-[#cccccc2a] max-lg:w-[80vw] max-lg:border  max-lg:border-[orange]
  }
 .calcontainer{
  @apply flex
 }
 .inputField>input{
  @apply border-none outline-none bg-transparent
 }
 .search-button{
  @apply flex hover:cursor-pointer items-center bg-[#48A0ff] w-fit px-2 rounded-r-xl max-lg:w-full max-lg:text-center max-lg:h-[4vh] max-lg:justify-center max-lg:rounded-lg }
  .searchText{
    @apply text-white font-[1.7vh] max-lg:text-center max-lg:items-center
  }
  .searchIcon{
    @apply text-white;
  }
  
  .container{
    @apply flex flex-col h-[30vh] bg-white p-[1vh] m-[1vh] w-[20vw] overflow-hidden
    rounded-lg max-md:w-fit max-md:h-[26vh] max-lg:w-fit
  }
  .h4{
    @apply p-[0.5vw] pt-[3vh] font-[2vh]
  }
  .h6{
    @apply px-[0.5vw] font-[1.8vh] text-[#475467] font-medium
  }
  .icon{
    @apply fill-white
  }
  .iconc{
   @apply bg-[#48A0fF] w-fit p-[0.4vw]
  }
  .popup{
    @apply  absolute z-10 w-[12vw] max-h-[50vh] max-lg:max-h-[30vh] max-lg:overflow-y-scroll max-lg:w-fit overflow-y-auto bg-white border rounded-md
    shadow-lg mt-[5px]
  }
  .popup li{
    @apply p-[2vh] hover:cursor-pointer text-[#FDB022] font-semibold hover:bg-[#f5f5f5]
  }
  .left-text{
    @apply mb-[2vh] 
  }
  .left-text>h5{
    @apply text-[3.4vh] font-semibold pb-[3vh]  max-md:text-[2.7vh]
  }
  .facts{
    @apply flex flex-col 
  }
  
  .facts>h5{
    @apply text-[2vh] font-medium pb-[5vh]
  }
  .facts>h2{
    @apply text-[2.5vh] flex items-center text-[#48a0ff] font-semibold
  }
  .check{
    @apply fill-cyan-600
  }
  .owners{
    @apply flex mt-[5vh] max-md:flex-col-reverse max-md:items-center max-lg:flex-col-reverse max-lg:items-center
  }
  .righttxt>h2{
    @apply text-[2.5vh] flex items-center text-[#48a0ff] font-semibold
  }
  .righttxt>h5{
    @apply text-[2vh] font-medium pb-[5vh] 
  }
  .righttxt>h4{
    @apply text-[3.4vh] font-semibold pb-[3vh] max-md:text-[2.7vh]
  }
  .fq{
    @apply bg-[#0066d4]
    justify-center
  }
  .wrdcontainer{
    @apply flex max-md:w-full max-md:text-center max-md:text-[1.7vh] border-white border-t-gray-300 items-center  border-t 
  }
  .wrd{
    @apply w-[50vw] p-[2vh] max-md:w-full
  }
  .teamcon{
    @apply flex flex-col items-center mt-[1vh] bg-[#2f90fa] p-[3vh] rounded-sm 
   }
   .infor{
    @apply flex items-center flex-col text-center
   }
   .infor>h5{
    @apply text-[#d9ebff] text-[1.6vh] pb-[2vh] font-medium
   }
   .infor>h4{
    @apply text-[2.3vh] font-medium
   }
   .teamcon>button{
    @apply p-[1.6vh] bg-[#48a0ff] border-none rounded-md
   }
   .information{
    @apply flex items-center border shadow-lg rounded-lg p-[0.5vh] mb-[1vh] border-transparent
   }
   .cargotxt{
    @apply items-center p-[0.7vh] flex
   }
   .cargotxtd{
    @apply flex items-center justify-center
   }
   .cargotxtd>h6{
    @apply mr-[9.3vw]
   }
   .inputfield>input{
    @apply border-none outline-none bg-none
   }
   .cargotxt>input{
    @apply border-none outline-none bg-none
   }
   
   .h55{
    @apply text-[2vh] p-[3vh] max-lg:p-[1vh] font-normal text-[#475467]
   }
   }
   .rightloca>h6{
    @apply items-center text-[3vh] pt-[4vh] text-[#48a0ff]
   }
   .sectiontop>h2{
    @apply text-[2vh] flex items-center text-[#48a0ff]
   }
   .sectiontop>h3{
    @apply text-[1.4vh] flex items-center text-[#fdb022]
   }
   .sectionbottom>h2{
@apply text-[2vh] flex items-center text-[#48A0FF]
   }
   .sectionbottom>h3{
  @apply text-[1.4vh] flex items-center text-[#fdb022] 
  }
  .ic{
    @apply h-[2vh]
  }
  .book-button>button{
    @apply bg-[#fdb022] border-none outline-none p-[1.2vh] px-[2vw] rounded-md text-white font-semibold
    hover:bg-[#fdb02294] cursor-pointer
  }
  .buttoncontain>button{
    @apply border-none bg-none outline-none p-[1vh] rounded-md mt-[2vh] w-fit  max-lg:mr-4
  }
  .cals{
    @apply text-[#fdb022]
  }
  .continue-button-pick{
    @apply flex p-[1vh] bg-[#ff8a00] rounded-md items-center w-fit 
  }
  .pickcardtop{
    @apply  flex items-center font-semibold text-[#48a0ff] text-[1.8vh]
  }
  .pickcardbottom{
    @apply  flex items-center font-semibold text-[#ffac0a] text-[1.5vh] 
  }
  .pickcardicon{
    height: 2.5vh !important;
    @apply text-black 
  }
  .ic{
    height: 2.5vh !important;
    @apply text-black 
  }
  .seat-header{
    @apply bg-[#48a0ff] px-[2vh] py-[1vh] font-semibold text-white 
  }
  .amenityiconcontainer{
    @apply flex bg-[#f9fafb] mr-[1.3vw] max-lg:pb-[1.4vh] text-[#6c7782] font-medium text-[2vh]
  }
  .dashicon{
    @apply hover:bg-white rounded-l-md p-[2vh] mr-[-1vw] w-[90%] flex-col flex items-center pr-[2vw] hover:cursor-pointer hover:text-[#48A1FF]  
  }.Signup{
    @apply flex flex-col items-center fixed top-0 left-0 right-0 bottom-0 justify-center justify-items-center w-[100%] z-[9999]  
  }
  .Signup>form{
    @apply flex flex-col bg-white p-[2vw] 
  }
  .close{
    @apply flex flex-col mb-[0.3vh]
  }
  .closec{
    @apply cursor-pointer ml-[95%]
  }
  .top{
    @apply flex flex-col items-center 
  }
  .top>img{
    @apply h-[12vh]
  }
  .top>h3{
    @apply text-[2.9vh] font-bold text-gray-400
  }
  .top>h4{
    @apply text-[1.5vh] font-semibold text-gray-500
  }
  .infields{
    @apply flex flex-col items-center p-[2vh]
  }
   .infields>label{
    @apply flex flex-col pt-[2vh]
  } 
 .infields>label>input{
    @apply outline-none border-[0.5px] border-[gray] w-[20vw] rounded-md 
  }
   .checkbox{
    @apply flex items-center justify-between p-[1vh] mb-[2vh]
  }
  .checkbox>h4{
    @apply text-[1.4vh] font-bold 
    }
  .checkbox>h5{
    @apply text-[1.4vh] font-bold text-[#48A0ff]
  }
  .sub{
    @apply p-[1.5vh] m-[1vh] bg-[#48A0ff] rounded-md text-white font-semibold border-none outline-none  
  }
  .google{
    @apply p-[1.3vh] m-[1vh] rounded-md text-black font-semibold border-none outline-none
  }
  .login{
    @apply flex flex-col items-center fixed top-0 left-0 right-0 bottom-0 justify-center justify-items-center w-[100%] z-[9999]  
  }
  .login>form{
    @apply flex flex-col bg-white p-[2vw] 
  }
  .leftcheck{
    @apply flex items-center text-[#1.2vh] font-bold
  }
  .logincheckbox{
    @apply flex items-center justify-between p-[1vh] mb-[2vh]
  }
  
    .logincheckbox>h5{
      @apply text-[1.5vh] font-bold  text-[#48a0ff]
      }